.popup__container {
  background-color: #FFFFFF;
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  width: 430px;
  height: 330px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 320px) and (max-width: 1280px) {
  .popup__container {
    width: calc(282px + (430 - 282) * (100vw - 320px) / (1280 - 320));
    height: calc(322px + (330 - 322) * (100vw - 320px) / (1280 - 320));
  }
}