.header__logo {
  width: 142px;
  height: 33px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../../../image/Vector.svg) no-repeat;
  background-size: contain;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .header__logo {
    margin-left: calc(27px + (0 - 27) * (100vw - 320px) / (1024 - 320));
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}