.element__svg-heart {
  width: 22px;
  height: 19px;
  padding: 0;
  position: absolute;
  right: 20px;
  bottom: 30px;
  background: url(../../../image/Vector-heart.svg) no-repeat;
  background-size: cover;
  border: 0;
  background-color: #FFFFFF;
}