.popup__button-add {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #000000;
  border-radius: 2px;
  text-align: center;
  line-height: 14px;
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 0;
  cursor: pointer;
}

.popup__button-add:hover {
  opacity: .8;
}