.popup__button-close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__button-close:hover {
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 1280px) {
  .popup__button-close {
    width: calc(20px + (32 - 20) * (100vw - 320px) / (1280 - 320));
    height: calc(20px + (32 - 20) * (100vw - 320px) / (1280 - 320));
  }
}

@media screen and (max-width: 767px) {
  .popup__button-close {
    top: -36px;
    right: 0px;
  }
}
