.profile__button-add {
  width: 150px;
  height: 50px;
  margin-left: auto;
  padding: 0;
  display: flex;
  align-self: center;
  background-color: #000000;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.profile__button-add:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__button-add {
    width: 282px;
    height: 50px;
    margin: 39px auto 0;
  }
}