.profile__button-add {
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  align-self: center;
  margin-left: auto;
  display: flex;
}

.profile__button-add:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .profile__button-add {
    margin: 36px auto 0;
    width: 282px;
    height: 50px;
  }
}