.profile__button-edit {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  align-self: flex-end;
  display: flex;
}

.profile__button-edit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 0;
    right: -27px;
  }
}