.profile__button-edit {
  width: 24px;
  height: 24px;
  margin-bottom: 9px;
  padding: 0;
  display: flex;
  align-self: flex-end;
  background-color: #000000;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  cursor: pointer;
}

.profile__button-edit:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
    right: -27px;
  }
}