.popup__text {
  margin-top: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 1280px) {
  .popup__text {
    font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1280 - 320));
    line-height: calc(17px + (22 - 17) * (100vw - 320px) / (1280 - 320));;
  }
}